.home_main_section {
    background-image: url("../Assets/Images/banner-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.text-center {
    font-weight: bold;
    width: 100%;
    font-size: 40px;
    color: #30302e;
    padding: 20px;
}

.home_third_section {
    margin-top: 5em;
    margin-bottom: 5em;
}

.home_third_section > h1 {
    text-align: center;
    padding-bottom: 30px;

}

